.menu-search-navbar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 16px;
}

.menu-items {
  font-weight: 700;
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  margin: 0;
  height: 32px;
  cursor: pointer;
  opacity: 50%;
}

.menu-navbar {
  display: flex;
  justify-content: left;
  width: 258px;
  height: 32px;
  gap: 40px;
}

.search-bar-container {
  width: 400px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search-bar {
  width: 100%;
  font: inherit;
  font-size: 18px;
  font-weight: 400;
  opacity: 60%;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  height: 28px;
  line-height: 28px;
  border-width: 0px;
  border-color: none;
}

.search-icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  right: 0;
  height: 32px;
  width: 32px;
}

.search-icon {
  opacity: 40%;
  margin: auto;
  width: 19.33px;
  height: 19.33px;
}

.selected-tab {
  color: #fff;
  opacity: 100%;
}

@media (max-width: 850px) {
  .menu-search-navbar {
    margin: 0px 15px;
    padding: 0px;
    gap: 20px;
    margin-bottom: 15px;
  }

  .menu-navbar {
    height: 20px;
  }

  .menu-items {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }

  .search-bar-container {
    width: 100%;
  }
}

@media (max-width: 1450px) {
  .navbar {
    height: 100vh;
  }

  .search-bar-container {
    width: 100%;
  }
}
